.wrapper {
  width: 100px;
  height: 100px;
  cursor: pointer;
  position: relative;
  touch-action: none;
}

.shape {
  position: absolute;
  top: 50%;
  left: 50%;
  height: fit-content;
}

.part {
  position: absolute;
  width: 20px;
  height: 20px;
  outline: 1px solid black;
  outline-offset: -2px;
}